openapi: 3.0.0
info:
  title: Simple Finance API
  description: A simple API to manage financial accounts and transactions
  version: 1.0.0
servers:
  - url: https://api.simplefinance.com/v1
    description: Main API server

paths:
  /accounts:
    get:
      summary: List all accounts
      tags:
        - Accounts
      responses:
        '200':
          description: A list of accounts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'

  /accounts/{accountId}:
    get:
      summary: Get account details
      tags:
        - Accounts
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of the account to fetch
          schema:
            type: string
      responses:
        '200':
          description: Details of the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '404':
          description: Account not found

  /accounts/{accountId}/transactions:
    get:
      summary: List all transactions for a given account
      tags:
        - Transactions
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of the account to fetch transactions for
          schema:
            type: string
        - name: limit
          in: query
          description: Limit the number of results
          schema:
            type: integer
        - name: offset
          in: query
          description: Offset the list of results
          schema:
            type: integer
      responses:
        '200':
          description: A list of transactions for the account
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
        '404':
          description: Account not found

  /accounts/{accountId}/balance:
    get:
      summary: Get the current balance of an account
      tags:
        - Accounts
      parameters:
        - name: accountId
          in: path
          required: true
          description: ID of the account to fetch balance for
          schema:
            type: string
      responses:
        '200':
          description: Current balance of the account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance'
        '404':
          description: Account not found

components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the account
        name:
          type: string
          description: Name of the account
        type:
          type: string
          description: Type of account (e.g., savings, checking)
        currency:
          type: string
          description: Currency of the account (e.g., USD, EUR)
        createdAt:
          type: string
          format: date-time
          description: Account creation date

    Transaction:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the transaction
        date:
          type: string
          format: date
          description: Date of the transaction
        description:
          type: string
          description: Description of the transaction
        amount:
          type: number
          format: float
          description: Amount of the transaction
        type:
          type: string
          description: Type of the transaction (e.g., debit, credit)

    Balance:
      type: object
      properties:
        accountId:
          type: string
          description: The unique identifier of the account
        balance:
          type: number
          format: float
          description: Current balance in the account
        currency:
          type: string
          description: Currency of the balance

